
<div class="jumbotron">
    <h1>OpenDiscussionPlatform</h1>
    <h2>Powered by Frîncu Mădălin &amp; Dinescu Matei</h2>
    <p class="lead">We enlighten everything.</p>
</div>

<div class="row">
    <div class="col-md-4 forumpost-heading">
        <h2>Getting started</h2>
        <p>
            FAQ - to be found soon. Please log in!
        </p>
    </div>

    <div class="col-md-4 forumpost-meta">
        <h3> Bine ai venit!</h3>

        @if (TempData.ContainsKey("message"))
        {
            <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
        }

    </div>
    

</div>

