
@{
    ViewBag.Title = "Edit";
}

<br />
<p>Afisare formular de editare postari - in acest formular se preiau datele curente ale postarii</p>

<form method="post" action="/ForumPosts/Edit/@ViewBag.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <button type="submit">Editeaza postare</button>
</form>


