@foreach (var forumPost in ViewBag.ForumPosts)
{
    <h1>@forumPost.Title</h1>
    <p>@forumPost.Content</p>
    <small>@forumPost.Date.ToString()</small>

    <a href="/ForumPosts/Show/@forumPost.Id">Afisare postare</a> <!-- Ruta implicita -->
    <a href="/ForumPosts/Edit/@forumPost.Id">Editare postare</a>

    @* <a href="/ForumPosts/show/@forumPost.Id">Afisare postare</a>  --> <!-- Ruta configurata -->  *@

    <br />
    <hr />
    <br />
}

<a href="/ForumPosts/New">Adaugare postare</a>