@{
    ViewBag.Title = "New"; }
<h2>Creare articol</h2>
<p>Afisare formular de adaugare postare</p>
<form method="post" action="/postari/New">
    <button type="submit">Adauga postare</button>
</form>
